
h1{
  background: white;
  padding:10px;
  padding-bottom: 0px;
}
h2{
  background: white;
  padding:10px;

}
div{
  color:blue;
  padding:10px;
  display: inline-block;
}
img{
    padding:10px;
    display: inline-block;
}
